      <td>
        <%= link_to(public_recipe_path(@recipe.id)) do %>
          <%=image_tag @recipe.user.get_image(100,100), size:'100x100' %>
        <% end %>
      </td>
      <td><%= @recipe.title %></td>
      <td><%= @recipe.capion %></td>